.schedule-container {
    width: 100%;
}

.schedule-container table {
    width: 100%;
    border-collapse: collapse;
    min-width: none;
    
}

.schedule-container th, .schedule-container td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 0;
}

.course {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4caf50;
    width: 100%;
}

.course-group {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
   